<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_Surcharge>
            <version>0.1.0</version>
        </Ryaan_Surcharge>
    </modules>
    <global>
		<helpers>
			<surcharge>
				<class>Ryaan_Surcharge_Helper</class>
			</surcharge>
		</helpers> 
		<sales>
            <quote>
                <totals>
                    <surcharge>
                        <class>Ryaan_Surcharge_Model_Total_Quote</class>
                    </surcharge>
                </totals>
            </quote>
        </sales> 
    </global>
	 <default>
        <sales>
            <totals_sort>
                <surcharge>45</surcharge>
            </totals_sort>
			<surcharge>
				<amount>10</amount>
				<label>Surcharge</label>
			</surcharge>
		</sales>
    </default>
</config>
