<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_Surcharge>
            <version>1.0.0</version>
        </Ryaan_Surcharge>
    </modules>
    <global>
        <helpers>
            <surcharge>
                <class>Ryaan_Surcharge_Helper</class>
            </surcharge>
        </helpers>
        <blocks>
            <surcharge>
                <class>Ryaan_Surcharge_Block</class>
            </surcharge>
        </blocks>
        <models>
            <surcharge>
                <class>Ryaan_Surcharge_Model</class>
            </surcharge>
        </models>
        <sales>
            <quote>
                <totals>
                    <surcharge>
                        <class>surcharge/total_quote</class>
                    </surcharge>
                </totals>
            </quote>
            <!-- <order_invoice>
                 <totals>
                     <surcharge>
                         <class>surcharge/total_invoice</class>
                     </surcharge>
                 </totals>
             </order_invoice>-->
        </sales>
        <resources>
            <surcharge_setup>
                <setup>
                    <module>Ryaan_Surcharge</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </surcharge_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <surcharge>
                    <to_order>*</to_order>
                </surcharge>
                <base_surcharge>
                    <to_order>*</to_order>
                </base_surcharge>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <surcharge>
                    <file>surcharge.xml</file>
                </surcharge>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <surcharge>
                    <file>surcharge.xml</file>
                </surcharge>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <surcharge>45</surcharge>
            </totals_sort>
            <surcharge>
                <amount>10</amount>
                <label>Surcharge</label>
            </surcharge>
        </sales>
    </default>
</config>
