<?xml version="1.0"?>
<config>
    <sections>
        <sales>
            <groups>
                <surcharge translate="label comment">
                    <label>Surcharge Options</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Surcharges?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <label translate="label">
                            <label>Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Label displayed in totals.</comment>
                        </label>
                        <amount translate="label">
                            <label>Flat Surcharge</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </amount>
                        <attributes translate="label">
                            <label>Product Attribute</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Ryaan_Surcharge_Model_Resource_Attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Additional surcharges can be set using the above product attributes.</comment>
                        </attributes>
                        <additional translate="label">
                            <label>Apply attribute surcharge to all payment methods?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional>
                    </fields>
                </surcharge>
            </groups>
        </sales>
    </sections>
</config>
